body {
    background: green;
  }
h1 {
    background-color: white;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
  }
button {
    color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://i.imgur.com/pqE1nqx.png'); 
        background-size: cover; 
        width: 500px; 
        height: 500px; 
        font-size: 2rem; 
 }

h2 {
    text-align: center;
}
body {
    background: green;
  }
h1 {
    background-color: white;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
  }
button {
    color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://i.imgur.com/pqE1nqx.png'); 
        background-size: cover; 
        width: 500px; 
        height: 500px; 
        font-size: 2rem; 
 }

h2 {
    text-align: center;
}
.hide {
    display: none;
  }
  
  .speech {
    position: absolute;
    left: 0;
    top: -10rem;
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    display: none;
  }
  
  .speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
  
  .speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
  }
  
  .myDIV {
    position: relative;
  }
  
  .myDIV:hover .speech {
    display: block;
    color: red;
  }
